* {
  box-sizing: border-box;
}

.html {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;

}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  width: auto;
  background-size: 50%;
  background-size: cover;
  background-color: rgb(237, 232, 232);

}

.h1-container {
  width: 100%;
  height: 60px;
}

.container {
  background-color: rgb(238, 238, 238);
  min-height: 800px;
  height: 100%;
  text-align: left;
  padding: 20px 20px 95px 30px;
  font-size: 1rem;
}

.footer__copyright,
.header__navbar,
.container {
  width: 100%;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
}

button,
select,
input,
textarea {
  display: block;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 7.5px 15px;
  border: 1px solid rgba(215, 215, 215, 1);
}

h1 {
  font-size: larger;
  margin: 0
}

p {
  margin: 0.5em 0;
  text-align: left;
}

figure {
  text-aling: center ;
}
  
